*{
    margin:0%;
    padding:0%;
}
body{
    font-family: 'Roboto',sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#003366;
    color: white;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 80px;
}
#bar{
    display: none;
    font-size: 22px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-inline: 22px;
}
.logo{
    font-size: 22px;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 83px;
    background-color:#A2C2E1;
    padding: 30px;
}
.main img{
    width: 690px;
    }
.mainText{
    margin-top: 44px;
    margin-left: 10px;
    color: white;
    align-items: end;
}
.mainText h1{
    font-size: 56px;
}
.mainText p{
    margin-top: 20px;
    margin-left: 20px;
}
.mainText button{
    margin-top: 22px;
    margin-left: 20px;
    width: 140px;
    height: 40px;
    align-items: center;
    background-color:whitesmoke;
    color:white;
    font-size:20px;
    border-color: #003366;
    border-width: 5px;

}
/*******services*******/
.head{
    text-align:center;
    padding:88px;
}
.service{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 13px;
    background-color: white;
    padding: 10px;
}
.service .servicecard img{
width: 80px;
height: 80px;
background-size:cover;
display: flex;
border-radius: 50px;
margin: 0px 20px;
} 
.service .servicecard{
    width: 150px;
    padding:22px;
    border: 2px solid black;
    text-align:center;
    margin-inline: 22px;
}
.service :hover{
    background-color:#003366;
    color: aliceblue;
}
/**********doctor******/
.teams{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.teams .card{
    width: 300px;
    height: 380px;
    color: white;
    background-color:#003366;
    border-radius: 5px;
    margin-inline: 20px;
    margin-left: 10px;
     padding-bottom: 3px;
 
}
.card img{
    width:100%;
    height: 300px;
    border-radius: 5px;
    }
.card p{
    margin-top: 11px;
    margin-left: 11px;
    
}
/******review*******/
.reviews{
    width:400px;
    height:400px;
    position:relative;
    margin:auto;
    overflow:hidden;
}
.patientReview{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:#A2C2E1;
    transition: all 1s ease;
}
.patientReview img{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-inline:18px;
        border-radius:4px;

}
/******blogs****/
.blogs{
    display: flex;
   flex-wrap:wrap;
    justify-content: center;
    position: relative;
    background-color:#b9d4ef;
}
.blogs .blogCard{
    width: 500px;
    padding: 18px;
    background-color:rgb(1, 75, blue);
    color:black;
    margin-inline: 22px;
    
}
.blogs .blogCard img{
    width: 100%;
    height: 350px;
}
.blogs .blogCard a{
    padding:4px 15px;
    background-color: black;
    color: white;
    text-decoration: relative;
    top: 11px;
    font-size: 20px;
    }

/********form**********/
.form{
    width: 400px;
    text-align: center;
    margin: auto;
    padding: 11px;
    background-color: aliceblue;
}
.form input{
    width: 90%;
    font-size: 20px;
    padding: 11px;
    margin-top: 22px;
}
.form button{
    width: 140px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 22px;
}
/*******footer*********/
.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 66px;
    margin-top: 66px;
    background-color: #003366;
    color: white;
}

.detail{
    display:none;
    position:fixed;
    left:50%;
    right: 50%;
    top:10%;
    transform: translate(-50% ,40%);
    background-color: white;
    padding: 22px;
    width: 400px;
    border-radius:4px;
}
.content{
    display:flex;
    gap:22px;
}
.content img{
    width: 200px;
}
.detail button{ 
    position:relative;
    top:-22px;
    left:-22px;
    width: 30px;
    height: 30px;
    background-color:#003366;
    color: white;
    font-size: 17px;
    border:none;
    border-radius: 4px;
    cursor:pointer;
}

@media screen and (max-width:1100px){
    .main{
        display:block;
        text-align:center;
        }
    .mainText{
        margin-top:76px;
    }
    }

@media screen and (max-width:700px){
    ul{
        display:none;
    }
    #bar{
        display: block;
    }
}
@media screen and (max-width:550px){
    .main img{
        width: 90%;
        margin-inline:11px;
    }
    .main h1{
        font-size:30px;
    }
    .main p{
        font-size: 16px;
    }
    .card img{
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    .blogCard img{
         width:80px;
        height: 100px;
    }
}
@media screen and (max-width:350px){
    .main img{
        width: 170px;
        margin-inline:11px;
    }
    .main h1{
        font-size:20px;
    }
    .main p{
        font-size: 12px;
    }

    .form{
        width: 10px;
    }
.detail{
    width:30px; 
}}